html {
    box-sizing: border-box;

}

*,
::after,
::before {
    box-sizing: inherit;
}

body {
    background-color: #f8f8f8;
    color: #333;
    font-family: "Lato", sans-serif;
    margin: 0;
    background-image: url('../img/background.svg');
    background-repeat: repeat;
    background-attachment: fixed;
}