html {
    box-sizing: border-box;

}

*,
::after,
::before {
    box-sizing: inherit;
}

body {
    color: #ffffff;
    font-family: "Lato", sans-serif;
    margin: 0;
    background-image: url('../img/WorldMap.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}